NEXT_PUBLIC_SUPABASE_URL=https://rqipoboyaguhhyptdugb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
PINECONE_API_KEY=pcsk_6WJbWM_...
PINECONE_ASSISTANT_NAME=axiskey-assistant
